<script>
import { ref, watchEffect } from "vue";
export default {
  setup(props, { emit }) {
    const dialog = ref(false);
    const resolve = ref(null);
    const reject = ref(null);
    const message = ref(null);
    const title = ref(null);
    const options = ref({
      color: "warning",
      width: 400,
      zIndex: 200,
      noconfirm: false,
    });

    const open = (newTitle, newMessage) => {
      dialog.value = true;
      title.value = newTitle;
      message.value = newMessage;

      return new Promise((res, rej) => {
        resolve.value = res;
        reject.value = rej;
      });
    };

    const agree = () => {
      resolve.value(true);
      dialog.value = false;
    };

    const cancel = () => {
      resolve.value(false);
      dialog.value = false;
    };

    watchEffect(() => {
      emit("update:options", options.value);
    });
    return {
      dialog,
      message,
      title,
      open,
      agree,
      cancel,
      options,
    };
  },
};
</script>

<template>
  <v-dialog
    v-model="dialog"
    :max-width="options.width"
    :style="{ zIndex: options.zIndex }"
    @keydown.esc="cancel"
  >
    <v-card>
      <v-toolbar dark :color="options.color" dense flat>
        <v-toolbar-title class="text-body-2 font-weight-bold grey--text">
          {{ title }}
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text
        v-show="!!message"
        class="pa-4 black--text"
        v-html="message"
      ></v-card-text>
      <v-card-actions class="pt-3">
        <v-spacer></v-spacer>
        <v-btn
          v-if="!options.noconfirm"
          color="grey"
          text
          class="body-2 font-weight-bold"
          @click="cancel"
          >Cancel</v-btn
        >
        <v-btn
          color="primary"
          class="body-2 font-weight-bold"
          outlined
          @click="agree"
          >OK</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
