<template>
  <v-app>
    <v-main>
      <HeaderComponent />
      <router-view />
      <div class="notification-container">
        <NotificationComponent
          v-for="(notification, index) in notifications"
          :key="index"
          :type="notification.type"
          :title="notification.title"
          :text="notification.text"
        />
      </div>
      <FooterComponent />
    </v-main>
  </v-app>
</template>

<script>
import FooterComponent from "./components/common/FooterComponent.vue";
import HeaderComponent from "./components/common/HeaderComponent.vue";
import NotificationComponent from "@/views/admin/products/notifications/NotificationComponent.vue";
import { useStore } from "vuex";
import { computed } from "vue";
export default {
  components: {
    HeaderComponent,
    FooterComponent,
    NotificationComponent,
  },
  setup() {
    const store = useStore();
    const notifications = computed(() => {
      return store.getters["notification/all"];
    });
    return { notifications };
  },
};
</script>
<style>
html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style your content container as needed */
.content {
  flex-grow: 1;
}
.notification-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  transition: all 0.5s; /* You can adjust the transition duration as needed */
}
</style>
