<template>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <router-link
            v-for="link in links"
            :key="link.path"
            :to="{ path: link.path }"
            class="nav-link px-2 text-white"
          >
            {{ link.title }}
          </router-link>
        </div>

        <div class="text-end">
          <template v-if="user">
            <div class="dropdown">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="@/assets/images/common/about-page.jpeg"
                  alt=""
                  width="32"
                  height="32"
                  class="rounded-circle me-2"
                />
                <strong>{{ `${user.first_name} ${user.second_name}` }}</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <template v-if="user.role === 'admin'">
                  <router-link
                    :to="{ name: 'Dashboard' }"
                    class="dropdown-item"
                  >
                    Dashboard
                  </router-link>
                </template>
                <router-link :to="{ name: 'Cart' }" class="dropdown-item">
                  My Cart
                </router-link>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>

                <li><hr class="dropdown-divider" /></li>
                <li>
                  <button class="dropdown-item" @click="logout">
                    Sign out
                  </button>
                </li>
              </ul>
            </div>
          </template>

          <template v-else>
            <router-link
              :to="{ name: 'Login' }"
              type="button"
              class="btn btn-outline-light me-2"
            >
              Login
            </router-link>
            <router-link
              :to="{ name: 'Register' }"
              type="button"
              class="btn btn-warning"
            >
              Sign-up
            </router-link>
          </template>
        </div>
      </div>
    </div>
  </header>
</template>

<script setup>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";

const links = ref([
  { path: "/", name: "Home", title: "Home" },
  { path: "/products", name: "Products", title: "Products" },
  { path: "/about", name: "About", title: "About" },
]);
const store = useStore();
const user = computed(() => {
  return store.getters["user/user"];
});
onMounted(async () => {
  try {
    await store.dispatch("user/getUser");
  } catch (error) {
    console.error("Failed to get user:", error);
  }
});

const logout = async () => {
  try {
    await store.dispatch("user/logout");
  } catch (error) {
    console.error("Logout failed:", error);
  }
};
</script>
