<script setup>
import { ref } from "vue";

const adminLinks = ref([
  { name: "CustomersControl", title: "Customers" },
  { name: "OrdersControl", title: "Orders" },
  { name: "ProductsControl", title: "Products" },
]);
</script>

<template>
  <div class="container-fluid">
    <div class="row">
      <div
        class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark col col-md-3"
        style="width: 280px"
      >
        <a
          href="#"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-4">Admin Dashboard</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li v-for="link in adminLinks" :key="link.name">
            <router-link
              :active-class="'nav-link active'"
              :to="{ name: link.name }"
              class="nav-link text-white"
              >{{ link.title }}</router-link
            >
          </li>
        </ul>
        <hr />
      </div>
      <div class="col m-5">
        <router-view />
      </div>
    </div>
  </div>
</template>
