<template>
  <v-container fluid fill-height>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <form class="mt-16 mb-16">
          <v-text-field
            v-model="state.email"
            :error-messages="v$.email.$errors.map((e) => e.$message)"
            label="E-mail"
            required
            @input="v$.email.$touch"
            @blur="v$.email.$touch"
          ></v-text-field>

          <v-row>
            <v-col>
              <v-btn class="me-4" @click="sendForgotPassword">Send</v-btn>
            </v-col>
            <v-col>
              <v-btn @click="clear">Clear</v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <router-link :to="{ name: 'Login' }">Login?</router-link>
            </v-col>
          </v-row>
        </form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { reactive } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { email, required } from "@vuelidate/validators";
import { useStore } from "vuex";

const store = useStore();
const initialState = {
  email: "",
};

const state = reactive({
  ...initialState,
});

const rules = {
  email: { required, email },
};

const v$ = useVuelidate(rules, state);
const sendForgotPassword = async () => {
  try {
    await store.dispatch("user/forgotPassword", { email: state.email });
    // router.push({ name: "Login" });
  } catch (error) {
    console.error(error.message);
  }
};
function clear() {
  v$.value.$reset();

  for (const [key, value] of Object.entries(initialState)) {
    state[key] = value;
  }
}
</script>
