<template>
  <v-container fluid fill-height>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <form class="mt-16 mb-16">
          <v-text-field
            v-model="state.email"
            :error-messages="v$.email.$errors.map((e) => e.$message)"
            label="E-mail"
            required
            @input="v$.email.$touch"
            @blur="v$.email.$touch"
          ></v-text-field>

          <v-text-field
            v-model="state.password"
            :error-messages="v$.password.$errors.map((e) => e.$message)"
            label="Password"
            type="password"
            required
            @input="v$.password.$touch"
            @blur="v$.password.$touch"
          ></v-text-field>
          <!-- Display errors here -->
          <v-row v-if="errorModuleErrors" class="my-1">
            <v-col>
              <v-alert
                v-for="(error, index) in errorModuleErrors"
                :key="index"
                type="error"
                class="my-1"
              >
                {{ error[0] }}
              </v-alert>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn class="me-4" @click="login">Login</v-btn>
            </v-col>
            <v-col>
              <v-btn @click="clear">Clear</v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <router-link :to="{ name: 'ForgotPassword' }"
                >Forgot Password?</router-link
              >
            </v-col>
          </v-row>
        </form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { reactive, computed } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { email, required, minLength } from "@vuelidate/validators";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

const router = useRouter();
const store = useStore();

const initialState = {
  email: "",
  password: "",
};

const state = reactive({
  ...initialState,
});

const rules = {
  email: { required, email },
  password: { required, minLength: minLength(8) },
};

const v$ = useVuelidate(rules, state);
const login = async () => {
  await store.dispatch("user/login", {
    email: state.email,
    password: state.password,
  });

  if (store.getters["user/isAuthenticated"]) {
    router.push({ name: "Home" });
    store.dispatch("error/clearError");
  }
};
function clear() {
  v$.value.$reset();
  for (const [key, value] of Object.entries(initialState)) {
    state[key] = value;
  }
}
const errorModuleErrors = computed(() => store.getters["error/all"]);
</script>
