<template>
  <v-container fluid fill-height>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="8">
        <form @submit.prevent="submit">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="firstName.value.value"
                :counter="20"
                :error-messages="firstName.errorMessage.value"
                label="First Name"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="lastName.value.value"
                :counter="20"
                :error-messages="lastName.errorMessage.value"
                label="Last Name"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-text-field
            v-model="email.value.value"
            :error-messages="email.errorMessage.value"
            label="E-mail"
          ></v-text-field>

          <v-text-field
            v-model="birthDate.value.value"
            :error-messages="birthDate.errorMessage.value"
            label="Birth Date"
            type="date"
          ></v-text-field>

          <v-text-field
            v-model="address.value.value"
            :error-messages="address.errorMessage.value"
            label="Address"
          ></v-text-field>

          <v-text-field
            v-model="password.value.value"
            :error-messages="password.errorMessage.value"
            label="Password"
            type="password"
          ></v-text-field>

          <v-text-field
            v-model="password_confirmation.value.value"
            :error-messages="password_confirmation.errorMessage.value"
            label="Confirm Password"
            type="password"
          ></v-text-field>

          <v-checkbox
            v-model="checkbox.value.value"
            :error-messages="checkbox.errorMessage.value"
            value="1"
            label="Agree with rules"
            type="checkbox"
          ></v-checkbox>
          <!-- Display errors here -->
          <v-row v-if="errorModuleErrors" class="mb-1">
            <v-col>
              <v-alert
                v-for="(error, index) in errorModuleErrors"
                :key="index"
                type="error"
                class="my-1"
              >
                {{ error[0] }}
              </v-alert>
            </v-col>
          </v-row>

          <v-btn class="me-4" type="submit">Submit</v-btn>
          <v-btn @click="handleReset">Clear</v-btn>
        </form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed } from "vue";
import { useField, useForm } from "vee-validate";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

const router = useRouter();
const store = useStore();
const { handleSubmit, handleReset } = useForm({
  validationSchema: {
    firstName(value) {
      if (value?.length >= 2) return true;

      return "First Name needs to be at least 2 characters.";
    },
    lastName(value) {
      if (value?.length >= 2) return true;

      return "Last Name needs to be at least 2 characters.";
    },
    email(value) {
      if (/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(value))
        return true;

      return "Must be a valid e-mail.";
    },
    birthDate(value) {
      const birthYear = new Date(value).getFullYear();
      const currentYear = new Date().getFullYear();
      const age = currentYear - birthYear;

      if (age >= 16) return true;

      return "Must be at least 16 years old.";
    },
    address(value) {
      if (value?.length >= 5) return true;

      return "Adress needs to be at least 5 characters.";
    },
    password(value) {
      if (value?.length >= 8) return true;

      return "Password needs to be at least 8 characters.";
    },
    password_confirmation(value, { password }) {
      if (password && value !== password) {
        return "Passwords do not match.";
      }

      return true;
    },
    checkbox(value) {
      if (value === "1") return true;

      return "Must be checked.";
    },
  },
});
// const store = useStore();
const firstName = useField("firstName");
const lastName = useField("lastName");
const email = useField("email");
const birthDate = useField("birthDate");
const address = useField("address");
const password = useField("password");
const password_confirmation = useField("password_confirmation");
const checkbox = useField("checkbox");

const submit = handleSubmit(async (values) => {
  try {
    await store.dispatch("user/register", values);
    if (store.getters["user/isAuthenticated"]) {
      router.push({ name: "Home" });
      store.dispatch("error/clearError");
    }
  } catch (error) {
    console.error(error.message);
  }
});
const errorModuleErrors = computed(() => store.getters["error/all"]);
</script>
