<template>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="@/assets/images/common/about-page.jpeg"
          class="d-block mx-lg-auto img-fluid"
          alt="Janina Iurii - Korean Cosmetics"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Meet Yanina Iurii
        </h1>
        <p class="lead">
          Yanina Iurii, the driving force behind our Korean Cosmetics shop, is a
          passionate expert in the world of beauty. With a deep understanding of
          skincare and cosmetics, Yanina curates a selection of premium Korean
          products known for their innovation and effectiveness.
        </p>
        <p class="lead">
          As a dedicated advocate for Korean beauty rituals, Yanina brings her
          knowledge and expertise to every product in our collection. Her
          commitment to quality and authenticity ensures that each item in our
          shop reflects the essence of Korean skincare traditions.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <router-link
            type="button"
            class="btn btn-primary btn-lg px-4 me-md-2"
            :to="{ name: 'Products' }"
            >Explore Our Collection</router-link
          >
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutPage",
};
</script>
