<template>
  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">
        Welcome to Yanina Iurii's Korean Cosmetics
      </h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Explore a world of beauty with our premium Korean cosmetics. We offer a
        curated selection of skincare products that bring out the natural
        radiance in you. Discover the perfect beauty routine tailored just for
        you.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <router-link
          class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
          type="button"
          :to="{ name: 'Products' }"
          >Explore Now</router-link
        >

        <router-link
          class="btn btn-outline-secondary btn-lg px-4 rounded-pill"
          type="button"
          :to="{ name: 'About' }"
          >About me</router-link
        >
      </div>
    </div>
  </div>
</template>

<script setup></script>
