<script>
import { ref, onMounted } from "vue";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
export default {
  name: "ProductDetailsPage",
  setup() {
    const store = useStore();
    const route = useRoute();
    const productSlug = route.params.slug;
    const quantity = ref(0);
    const product = ref();

    onMounted(async () => {
      await store.dispatch("product/fetchProducts");
      product.value = store.getters["product/one"](productSlug);
    });

    const addToCart = async () => {
      await store.dispatch("cart/addProductToCart", {
        product: product.value,
        quantity: quantity.value,
      });
    };
    return {
      addToCart,
      product,
      quantity,
    };
  },
};
</script>

<template>
  <main role="main">
    <div class="container my-5" v-if="product">
      <div class="row">
        <div class="col-lg-6">
          <!-- Product Image -->
          <img
            :src="product.imageUrl"
            class="bd-placeholder-img img-fluid"
            alt="Product"
          />
        </div>
        <div class="col-lg-6">
          <!-- Product Details -->
          <h2>{{ product.name }}</h2>
          <p class="lead">{{ product.description }}</p>
          <p class="price">Price: €{{ product.price }}</p>

          <!-- Quantity Input -->
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity:</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              v-model="quantity"
            />
          </div>

          <!-- Add to Cart Button -->
          <button class="btn btn-primary" @click="addToCart">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </main>
</template>
