<script>
import { ref, onMounted } from "vue";
import { useStore } from "vuex";

export default {
  name: "ProductListingPage",

  setup() {
    const store = useStore();
    const products = ref([]);
    const search = ref("");
    const loadProducts = async () => {
      await store.dispatch("product/fetchProducts");
      products.value = store.getters["product/all"];
    };
    onMounted(() => {
      loadProducts();
    });

    return {
      products,
      search,
    };
  },
};
</script>

<template>
  <main role="main">
    <div class="container marketing mt-5">
      <v-card>
        <v-data-iterator :items="products" :items-per-page="6" :search="search">
          <template v-slot:header>
            <v-toolbar class="px-2">
              <v-text-field
                v-model="search"
                clearable
                density="comfortable"
                hide-details
                placeholder="Search"
                prepend-inner-icon="mdi-magnify"
                style="max-width: 300px"
                variant="solo"
              ></v-text-field>
            </v-toolbar>
          </template>

          <template v-slot:default="{ items }">
            <v-container class="pa-2" fluid>
              <!-- Show skeleton loader while loading data -->
              <v-row v-if="!products.length">
                <v-col v-for="n in 3" :key="n" cols="auto" md="4">
                  <v-skeleton-loader
                    class="mx-auto border"
                    max-width="300"
                    type="card-avatar, actions"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col v-for="item in items" :key="item.id" cols="auto" md="4">
                  <v-card class="pb-3" border flat>
                    <v-list-item class="mb-2" :subtitle="item.raw.description">
                      <template v-slot:title>
                        <strong class="text-h6 mb-2">{{
                          item.raw.name
                        }}</strong>
                      </template>
                    </v-list-item>
                    <div class="d-flex justify-space-between px-4">
                      <div
                        class="d-flex align-center text-caption text-medium-emphasis me-1"
                      >
                        <v-icon icon="mdi-currency-eur" class="mr-1"></v-icon>

                        <div class="text price-text">{{ item.raw.price }}</div>
                      </div>

                      <router-link
                        :to="{
                          name: 'Product',
                          params: { slug: item.raw.slug },
                        }"
                      >
                        <v-btn
                          border
                          flat
                          size="small"
                          class="text-none"
                          text="View details »"
                        >
                        </v-btn
                      ></router-link>
                    </div>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </template>

          <template v-slot:footer="{ page, pageCount, prevPage, nextPage }">
            <div class="d-flex align-center justify-center pa-4">
              <v-btn
                :disabled="page === 1"
                icon="mdi-arrow-left"
                density="comfortable"
                variant="tonal"
                rounded
                @click="prevPage"
              ></v-btn>

              <div class="mx-2 text-caption">
                Page {{ page }} of {{ pageCount }}
              </div>

              <v-btn
                :disabled="page >= pageCount"
                icon="mdi-arrow-right"
                density="comfortable"
                variant="tonal"
                rounded
                @click="nextPage"
              ></v-btn>
            </div>
          </template>
        </v-data-iterator>
      </v-card>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Elevate Your Beauty Rituals with Korean Elegance
            <span class="text-muted">Experience the Difference.</span>
          </h2>
          <p class="lead">
            Discover the secrets of Korean beauty rituals and transform your
            skincare routine. Our curated collection reflects the essence of
            Korean elegance, providing you with a unique and enriching
            experience. Embrace the beauty of self-care.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="@/assets/images/common/beauty-rituals.jpeg"
            alt="photo"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            role="img"
            aria-label="Placeholder: 500x500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">
            Janina Iurii's Winter Essentials
            <span class="text-muted">Unveil the Secret to Radiant Skin.</span>
          </h2>
          <p class="lead">
            Explore Janina Iurii's curated selection for the winter season. From
            hydrating serums to protective creams, our winter essentials will
            keep your skin glowing even in the coldest months. Embrace the
            warmth of winter beauty.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
            src="@/assets/images/common/logo.jpeg"
            alt="photo"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            role="img"
            aria-label="Placeholder: 500x500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Unveiling Korean Beauty Trends
            <span class="text-muted">Stay Ahead of the Curve.</span>
          </h2>
          <p class="lead">
            Dive into the latest Korean beauty trends and discover what's making
            waves in the skincare world. From innovative formulations to
            groundbreaking ingredients, our collection embraces the essence of
            modern Korean beauty. Elevate your routine with the trends loved by
            beauty enthusiasts worldwide.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="@/assets/images/common/trends.jpeg"
            alt="photo"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="400"
            role="img"
            aria-label="Placeholder: 500x500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />
    </div>
  </main>
</template>
