<template>
  <ConfirmModalComponent ref="confirmModal" />
  <section class="h-100" style="background-color: #eee">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>

            <div>
              <p class="mb-0">
                <span class="text-muted">Sort by:</span>
                <a href="#" class="text-body"
                  >price <i class="fas fa-angle-down mt-1"></i
                ></a>
              </p>
            </div>
          </div>
          <template v-if="productsInCart.length === 0">
            <div class="alert alert-info" role="alert">
              Your cart is empty. Start shopping now!
            </div>
          </template>
          <template v-else>
            <div
              v-for="(cartItem, index) in productsInCart"
              :key="index"
              class="card rounded-3 mb-4"
            >
              <div class="card-body p-4">
                <div
                  class="row d-flex justify-content-between align-items-center"
                >
                  <div class="col-md-2 col-lg-2 col-xl-2">#</div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2">
                      {{ cartItem.product.name }}
                    </p>
                    <p>
                      {{ cartItem.product.description }}
                    </p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button
                      class="btn btn-link px-2"
                      @click="removeFromCart(cartItem)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-link px-2">
                      <i class="fas fa-minus"></i>
                    </button>

                    <input
                      id="form1"
                      min="0"
                      name="quantity"
                      :value="cartItem.quantity"
                      type="number"
                      class="form-control form-control-sm"
                    />

                    <button class="btn btn-link px-2">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h5 class="mb-0">
                      {{
                        (cartItem.product.price * cartItem.quantity).toFixed(2)
                      }}
                      $
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-end">
                  <h4>Total: {{ totalPrice }}€</h4>
                </div>
                <button
                  type="button"
                  class="btn btn-warning btn-block btn-lg"
                  @click="sendOrder"
                >
                  Proceed to Pay
                </button>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </section>
</template>
<script setup>
import { useStore } from "vuex";
import { ref, onMounted } from "vue";
import ConfirmModalComponent from "@/components/features/ConfirmModalComponent.vue";

const store = useStore();
const confirmModal = ref(null);
const productsInCart = ref([]);
const totalPrice = ref();

const loadCart = async () => {
  productsInCart.value = await store.getters["cart/products"];
  totalPrice.value = await store.getters["cart/total"];
};
const sendOrder = async () => {
  const order = {
    user_id: store.getters["user/user"].id,
    total_amount: totalPrice.value,
    items: productsInCart.value.map((cartItem) => ({
      product_id: cartItem.product.id,
      quantity: cartItem.quantity,
      price: cartItem.product.price,
    })),
  };
  await store.dispatch("order/sendOrder", order);
  await loadCart();
};
const removeFromCart = async (product) => {
  if (
    await confirmModal.value.open(
      "Confirm deleting",
      "Are you sure you want to delete this product?"
    )
  )
    await store.dispatch("cart/removeProductFromCart", product);
  await loadCart();
};
onMounted(async () => {
  await loadCart();
});
</script>
