<script>
import { ref, onMounted } from "vue";
import { useStore } from "vuex";
import ModalWindowComponent from "@/views/admin/products/modal/ModalWindowComponent.vue";
import ConfirmModalComponent from "@/components/features/ConfirmModalComponent.vue";

export default {
  components: {
    ModalWindowComponent,
    ConfirmModalComponent,
  },
  setup() {
    const search = ref("");
    const headers = [
      { align: "start", key: "id", title: "ID" },
      { key: "name", title: "Product name" },
      { key: "price", title: "Product price" },
      { align: "center", key: "actions", title: "Actions" },
    ];
    const updatedProduct = ref({});
    const title = ref("");
    const products = ref([]);
    const modalActive = ref(false);
    const confirmModal = ref(null);
    const store = useStore();

    const loadProducts = async () => {
      await store.dispatch("product/fetchProducts");
      products.value = store.getters["product/all"];
    };
    onMounted(() => {
      loadProducts();
    });
    const deleteProduct = async (product) => {
      await store.dispatch("product/deleteProduct", product);
      loadProducts();
    };

    const openModal = (item) => {
      if (item) {
        updatedProduct.value = item;
        title.value = "Edit Product";
      } else {
        updatedProduct.value = {
          name: "",
          description: "",
          price: "",
        };
        title.value = "Add new Product";
      }
      modalActive.value = true;
    };
    const delRecord = async (product) => {
      if (
        await confirmModal.value.open(
          "Confirm",
          "Are you sure you want to delete this product?"
        )
      ) {
        deleteProduct(product);
      }
    };

    return {
      search,
      headers,
      updatedProduct,
      modalActive,
      products,
      deleteProduct,
      openModal,
      title,
      delRecord,
      confirmModal,
      loadProducts,
    };
  },
};
</script>

<template>
  <ModalWindowComponent
    :updated-product="updatedProduct"
    :title="title"
    :dialog="modalActive"
    :reload-products-after-saving="loadProducts"
    @update:dialog="modalActive = $event"
  />
  <ConfirmModalComponent ref="confirmModal" />
  <v-btn class="m-3" large @click="openModal()">Add New Product </v-btn>
  <v-card flat title="Product list">
    <template v-slot:text>
      <v-text-field
        v-model="search"
        label="Search"
        prepend-inner-icon="mdi-magnify"
        single-line
        variant="outlined"
        hide-details
      ></v-text-field>
    </template>

    <v-data-table-server
      v-if="!products"
      :items-length="0"
      item-key="name"
      loading
      loading-text="Loading... Please wait"
    ></v-data-table-server>

    <v-data-table :headers="headers" :items="products" :search="search">
      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>
            <v-btn @click="openModal(item)" color="primary">Edit</v-btn>
            <v-btn @click="delRecord(item)" color="error" class="ml-3"
              >Delete</v-btn
            >
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>
