<script>
import { ref, computed, watch } from "vue";
import { useStore } from "vuex";

export default {
  props: {
    updatedProduct: {
      type: Object,
      default: () => {
        return {};
      },
    },
    title: {
      type: String,
      default: "",
    },
    reloadProductsAfterSaving: {
      type: Function,
      default: null,
    },
    dialog: { type: Boolean, default: false },
  },
  setup(props, { emit }) {
    const store = useStore();

    const addNew = async (product) =>
      await store.dispatch("product/addNew", product);

    const editProduct = async (product) =>
      await store.dispatch("product/editProduct", product);

    const errMsg = ref("");
    const localDialog = ref(props.dialog);
    const product = ref({});

    const areFieldsValid = computed(() => {
      return (
        product.value.name.trim() !== "" &&
        product.value.description.trim() !== "" &&
        product.value.price !== "" &&
        /^\d+(\.\d{1,2})?$/.test(product.value.price)
      );
    });

    const saveProduct = async () => {
      if (areFieldsValid.value) {
        if (props.title === "Add new Product") {
          await addNew(product.value);
        } else {
          await editProduct(product.value);
        }
        props.reloadProductsAfterSaving();
        closeDialog();
      } else {
        errMsg.value =
          "All fields must be filled, and the price must be a valid number";
      }
    };

    const resetForm = () => {
      product.value.name = "";
      product.value.description = "";
      product.value.price = "";
      product.value.imgUrl = null;
      errMsg.value = "";
    };

    const closeDialog = () => {
      emit("update:dialog", false);
    };

    watch(
      () => props.dialog,
      (newVal) => {
        localDialog.value = newVal;
        if (!newVal) {
          errMsg.value = "";
        }
      }
    );
    watch(
      () => props.updatedProduct,
      (newVal) => {
        product.value = newVal;
      }
    );

    return {
      saveProduct,
      localDialog,
      product,
      resetForm,
      closeDialog,
      errMsg,
    };
  },
};
</script>

<template>
  <v-row>
    <v-dialog v-model="localDialog" persistent width="524" @close="resetForm">
      <v-card>
        <v-card-title>
          <span class="text-h5">{{ title }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="product.name"
                  label="Product name"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="product.description"
                  label="Product description"
                  required
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-col cols="12">
                  <v-file-input
                    v-model="product.imgUrl"
                    label="Photo of product"
                    variant="filled"
                    prepend-icon="mdi-camera"
                  ></v-file-input>
                </v-col>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="product.price"
                  label="Product price"
                  required
                  type="number"
                  step="0.01"
                ></v-text-field>
                <v-alert v-if="errMsg" :text="errMsg" type="warning"></v-alert>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="closeDialog">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="saveProduct">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
