<template>
  <v-row>
    <v-dialog v-model="localDialog" persistent width="624" @close="resetForm">
      <v-card>
        <v-card-title class="primary">
          <span class="text-h5">Order Information</span>
          <v-spacer></v-spacer>
          <v-btn icon @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-h6"
                      >Order ID</v-list-item-title
                    >
                    <v-list-item-subtitle>{{ order.id }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
              <v-col cols="12">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-h6"
                      >Created At</v-list-item-title
                    >
                    <v-list-item-subtitle>{{
                      order.created_at
                    }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
              <v-col cols="12">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-h6"
                      >Customer Email</v-list-item-title
                    >
                    <v-list-item-subtitle>{{
                      order.user.email
                    }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>

              <v-col cols="12">
                <v-divider></v-divider>
              </v-col>

              <v-col cols="12">
                <v-list dense>
                  <v-subheader>Products</v-subheader>
                  <v-list-item
                    v-for="product in order.products"
                    :key="product.id"
                  >
                    <v-list-item-content>
                      <v-list-item-title>{{ product.name }}</v-list-item-title>
                      <v-list-item-subtitle
                        >Quantity: {{ product.quantity }}</v-list-item-subtitle
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>

              <v-col cols="12">
                <v-divider></v-divider>
              </v-col>

              <v-col cols="12">
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title class="text-h6"
                      >Total Amount</v-list-item-title
                    >
                    <v-list-item-subtitle>{{
                      order.total_amount
                    }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script setup>
import { ref, defineProps, defineEmits, watch } from "vue";

const props = defineProps({
  order: {
    type: Object,
    default: () => ({}),
  },
  dialog: { type: Boolean, default: false },
});

const emit = defineEmits(["update:dialog"]);
const localDialog = ref(false);
const resetForm = () => {};

const closeDialog = () => {
  emit("update:dialog", false);
};

watch(
  () => props.dialog,
  (newVal) => {
    localDialog.value = newVal;
  }
);
</script>

<style scoped>
.primary {
  background-color: #1976d2;
  color: #ffffff;
}
</style>
