<script>
import { ref, onMounted } from "vue";
import { useStore } from "vuex";
import ConfirmModalComponent from "@/components/features/ConfirmModalComponent.vue";
export default {
  components: { ConfirmModalComponent },
  setup() {
    const search = ref("");
    const headers = [
      { align: "start", key: "id", title: "Id" },
      { key: "name", title: "Name" },
      { key: "address", title: "Address" },
      { align: "center", key: "actions", title: "Actions" },
    ];
    const store = useStore();
    const customers = ref();

    const loadCustomers = async () => {
      await store.dispatch("customer/fetchAllCustomers");
      customers.value = store.getters["customer/all"];
    };
    onMounted(async () => {
      await loadCustomers();
    });
    const confirmModal = ref(null);

    const deleteCustomer = async (customer) => {
      const currentUser = store.getters["user/user"];
      if (currentUser.id === customer.id) {
        await confirmModal.value.open(
          "Warning message",
          "You can't delete your own account."
        );
        return;
      }
      if (
        await confirmModal.value.open(
          "Confirm deleting",
          "Are you sure you want to delete this customer?"
        )
      ) {
        await store.dispatch("customer/deleteCustomer", customer);
        await loadCustomers();
      }
    };

    return {
      headers,
      search,
      customers,
      confirmModal,
      deleteCustomer,
    };
  },
};
</script>
<template>
  <ConfirmModalComponent ref="confirmModal" />
  <v-card flat title="Customer list">
    <template v-slot:text>
      <v-text-field
        v-model="search"
        label="Search"
        prepend-inner-icon="mdi-magnify"
        single-line
        variant="outlined"
        hide-details
      ></v-text-field>
    </template>

    <v-data-table :headers="headers" :items="customers" :search="search">
      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.id }}</td>

          <td>{{ item.first_name + " " + item.second_name }}</td>
          <td>{{ item.address }}</td>
          <td>
            <v-btn @click="deleteCustomer(item)" color="error" class="ml-3"
              >Delete</v-btn
            >
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>
