<script>
export default {
  props: {
    type: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
    text: {
      type: String,
      default: "",
    },
  },
};
</script>
<template>
  <v-alert
    :type="type"
    :title="title"
    :text="text"
    :icon="`$${type}`"
    variant="tonal"
  ></v-alert>
</template>
