<template>
  <ModalWindowComponent
    :order="detailedOrder"
    :dialog="modalActive"
    @update:dialog="modalActive = $event"
  />
  <div>
    <h2>OrderManagementPage</h2>

    <v-card flat title="Customer list">
      <template v-slot:text>
        <v-text-field
          v-model="search"
          label="Search"
          prepend-inner-icon="mdi-magnify"
          single-line
          variant="outlined"
          hide-details
        ></v-text-field>
      </template>

      <v-data-table :headers="headers" :items="orders" :search="search">
        <template v-slot:item="{ item }">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ new Date(item.created_at).toLocaleString() }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.total_amount }}</td>
            <td>{{ item.user.first_name + " " + item.user.second_name }}</td>
            <td>
              <v-btn @click="openModal(item)" color="info" class="ml-3"
                >Details</v-btn
              >
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script setup>
import { ref, onMounted } from "vue";
import { useStore } from "vuex";
import ModalWindowComponent from "@/views/admin/orders/modal/ModalWindowComponent.vue";

const headers = [
  { align: "start", key: "id", title: "Id" },
  { key: "created", title: "Created" },
  { key: "status", title: "Status" },
  { key: "total_amount", title: "Total Amount" },
  { key: "user", title: "User" },
  { align: "center", key: "actions", title: "Actions" },
];
const search = ref("");
const store = useStore();
const orders = ref([]);
const modalActive = ref(false);
const detailedOrder = ref({});

const loadOrders = async () => {
  await store.dispatch("order/fetchAllOrders");
  orders.value = store.getters["order/all"];
};

const openModal = (item) => {
  if (item) {
    detailedOrder.value = item;
  }
  modalActive.value = true;
};
onMounted(async () => {
  await loadOrders();
});
</script>
